input[type='search'] {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2025%22%20stroke%3D%22%23000%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20fill%3D%22%23A0A0A0%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M24.6849%2023.2181l-7.1729-7.1838c1.4141-1.6973%202.2646-3.8663%202.2646-6.2353C19.7766%204.3944%2015.3448%200%209.8935%200S0%204.3995%200%209.8041s4.4318%209.799%209.8832%209.799c2.3158%200%204.4472-.7948%206.1379-2.1228l7.1985%207.2043c.4201.4205%201.0452.4205%201.4653%200s.4201-1.046%200-1.4665zM2.1006%209.8041c0-4.2457%203.4942-7.6966%207.7826-7.6966s7.7826%203.4509%207.7826%207.6966-3.4943%207.6967-7.7826%207.6967-7.7826-3.4561-7.7826-7.6967z%22%20fill-rule%3D%22nonzero%22%20stroke%3D%22none%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    background-origin: content-box;
    background-position: -3em 0px;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 4em !important;
}
