#app-modal {
    background-color: rgba(0,0,0,0.4);
    display: none;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;

    &.active {
        display: block;
    }
}

#modal-container {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;

    article {
        background-color: white;
        border-radius: 5px;
        display: inline-block;
        position: relative;
        margin: auto;
    }
}