.tag-input {
    position: relative;

    .input-wrapper > ul {
        display: none;

        &.open {
            border: 1px solid black;
            display: block;
            font-size: 0.3em;
            margin: 0px;
            padding: 0px;
            position: absolute;
            width: 100%;
            z-index: 10;
        }

        li {
            background-color: white;
            cursor: pointer;
            font-size: 2em;
            line-height: 2.2em;
            list-style: none;
            padding: 0.1em;

            &:hover {
                background-color: lightgray;
            }
        }
    }

    > div > ul {
        font-size: 1em;
        margin: 5px 0px 5px 0px;
        padding: 0px;

        li {
            background-color: lightgray;
            display: inline-block;
            margin-right: 5px;
            padding: 0px 0.2em 0px 0.2em;

            button {
                background-color: transparent;
                border: none;
                color: #f44336;
                cursor: pointer;
                font-weight: bold;
                padding-left: 0.2em;
                vertical-align: middle;
            }
        }
    }
}
