fieldset {
    border: none;
    border-top: 2px solid black;
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
}

legend {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}