.image-input .input-wrapper {
    border: 1px dashed gray;
    box-sizing: border-box;
    font-size: initial;
    height: 200px;
    margin-bottom: 10px;
    padding: 5px;
    position: relative;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 2em;
        height: 1em;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 1em;
    }

    div {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 85%;
        margin: auto;
        width: 100%;
    }
}
