.input-container {
    .input-labels {
        font-size: 1em;
        display: block;
        margin-bottom: 0.1em;

        > * {
            display: inline-block;
            margin-right: 0.1em;
        }
    }

    .input-message {
        min-height: 0.7em;

        p {
            display: block;
            font-size: 0.7em;
            margin: 0px;
            vertical-align: top;
        }
    }

    .input-wrapper {
        display: block;
        height: 2em;
        width: 100%;
    }

    &.one-line {
        .input-labels, .input-wrapper {
            display: inline-block;
            height: auto;
            width: auto;
        }
    }

    &.select-input select,
    &.tag-input input,
    &.text-input input,
    &.textarea-input textarea {
        background-color: white;
        border: 1px solid black;
        border-radius: $BORDER_RADIUS_SMALL$;
        box-sizing: border-box;
        display: block;
        font-size: 0.7em;
        height: 100%;
        padding-bottom: 0.3em;
        padding-left: 10px;
        padding-right: 5px;
        padding-top: 0.3em;
        width: 100%;
    }

    &.error {
        &.text-input input,
        &.textarea-input textarea,
        &.select-input select {
            border-color: $RED$;
        }

        .input-message {
            color: $RED$;
        }
    }
}
